.header_wr {
	height: 90px;
	background: black;
	width: 95%;
	margin: 30px 0;

}
.navig {
	height: 90px;
	width: 40%;
	margin: auto;
	font-size: 14px;
	text-transform: uppercase;
	color: #e0e0e0;
	font-weight: 700;
	display: flex;
	justify-content: space-between;
	padding-right: 10px;
}
button {
	text-align: center;
	width: 220px;
	height: 45px;
	padding: 10px 35px;
	border-radius: 3px;
	border: 2px solid #ff3f3f;
	color: #fff;
}
button:focus {
	outline-color: #fff;
}
button:hover {
	color: #C0C0C0;
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	color: #C0C0C0;
}
.fish {
	font-size: 16px;
	line-height: 28px;
	opacity: 0.7;
}
.navig a {
	flex: 1 80px;
	text-align: center;
	margin-right: 5px;
	height: 50px;
	max-width: 90px;
	padding-top: 40px;
}
.home {
	filter: drop-shadow(-0.313px -1.975px 17.5px rgba(0,1,1,0.3));
	background-color: #ff3f3f;
}
.organization {
	display: flex;
	justify-content: space-between;
	width: 95%;
	margin: 5% auto;
	
}
.item {
	height: 100%;
	width: 42%;
	display: flex;
	flex-direction: column;
	justify-content: space-between; 
	align-items: flex-start;
	
}
.text h1 {
	text-transform: uppercase;
	font-size: 280%;
	line-height: 72px;
	letter-spacing: 1.5px;
	font-weight: 800;
	align-items: flex-start;
}
.text p {
	margin-top: 20px;
}
.text button {
	filter: drop-shadow(-0.313px -1.975px 17.5px rgba(0,1,1,0.3));
	background-color: #ff3f3f;
	margin-top: 30px;
}
