.signup {
	background: #FFE4C4;
	margin: 3% 3%;
	padding: 5% 0;
	text-align: center;
	box-sizing: border-box;
	width: calc(100vw + 20%);
}
.text123{
	margin: 0 10%;
	box-sizing: border-box;
}

.signup .white{
	color: white;
	text-align: center;
}
.signup h2{
	font-size: 270%;
	letter-spacing: 1px;
	line-height: 95%;
	margin: 1.5% auto 3.5% auto;
	
}
.signup form {
	padding-top: 2.5%;
}
.btn{
	background: #ff3f3f;
	color: white;
	font-weight: 700;
	text-transform: uppercase;
	padding: 1% 2%;
	width: 13%;
}
.signup button:hover {
	color: #C0C0C0;
}
.signup .form-control {
	width: 30%;
	height: 42px;
	vertical-align: top;
	margin-right: 1%;
}