.signup {
	background: #FFE4C4;
	margin: 40px 0;
	padding: 100px 120px;
	text-align: center;
}
.signup .white{
	color: white;
	text-align: center;
}
.signup h2{
	font-size: 42px;
	letter-spacing: 1px;
	line-height: 24px;
	padding-bottom: 45px;
	
}
.signup form {
	padding-top: 45px;
}
.btn{
	background: #ff3f3f;
	color: white;
	font-weight: 700;
	text-transform: uppercase;
	padding: 15px 10px;
	width: 13%;
}
.signup button:hover {
	color: #C0C0C0;
}
.signup .form-control {
	width: 30%;
	height: 42px;
	vertical-align: top;
	margin-right: 10px;
}